In [1]:
import sys
import gc
import os
import psutil
process = psutil.Process(os.getpid())

In [2]:
import numpy as np
import scipy.stats as st
import pandas as pd
from gbnet.models import ORNORModel
from gbnet.aux import genData

In [3]:
NX, NActvX, NY = 10, 3, 200
Xgt, DEG, rels = genData(NX, NActvX, NY, AvgNTF=0.5)
print(len(rels), 'edges in rels')

99 edges in rels

In [4]:
model = ORNORModel(rels, DEG)

In [5]:
while not model.converged():
    model.sample(N=500, burn=0.5, njobs=2)

Sampling 2 chains in 2 jobs
Chain 1 - Sampling completed
Chain 0 - Sampling completed
Progress  100.00%

Chains have converged

In [6]:
model.gelman_rubin[model.gelman_rubin>1.05]

Series([], dtype: float64)

In [7]:
Res = model.result(Xgt=Xgt)

In [8]:
Res['X']

      mean  std  srcuid  pred  gt
idx
X__5   1.0  0.0       5     1   1
X__2   1.0  0.0       2     1   1
X__4   1.0  0.0       4     1   1

In [9]:
Res['T']

          mean       std  srcuid
T__3  0.515011  0.143693       3
T__5  0.635069  0.114518       5
T__7  0.482725  0.133636       7
T__2  0.664708  0.104845       2
T__1  0.508044  0.149980       1
T__6  0.493514  0.146175       6
T__9  0.491558  0.153330       9
T__0  0.484944  0.139341       0
T__8  0.493926  0.143435       8
T__4  0.664057  0.110979       4

In [10]:
Res['S']

                 -      +  srcuid  trguid  pred  gt
idx
S__(5, 18)   0.048  0.036       5      18     0   0
S__(2, 24)   1.000  0.000       2      24    -1  -1
S__(2, 39)   0.000  1.000       2      39     1   1
S__(2, 42)   0.036  0.040       2      42     0   0
S__(5, 70)   0.000  1.000       5      70     1   1
S__(2, 72)   0.000  1.000       2      72     1   1
S__(2, 73)   0.048  0.054       2      73     0   0
S__(5, 79)   0.056  0.052       5      79     0   0
S__(4, 82)   1.000  0.000       4      82    -1  -1
S__(4, 90)   0.000  1.000       4      90     1   1
S__(5, 102)  0.058  0.050       5     102     0   0
S__(5, 126)  1.000  0.000       5     126    -1  -1
S__(4, 127)  1.000  0.000       4     127    -1  -1
S__(4, 136)  1.000  0.000       4     136    -1  -1
S__(2, 137)  0.024  0.028       2     137     0   0
S__(5, 144)  0.044  0.030       5     144     0   0
S__(5, 160)  0.554  0.044       5     160    -1   1
S__(2, 160)  0.518  0.042       2     160    -1  -1
S__(5, 172)  0.038  0.042       5     172     0   0
S__(5, 180)  1.000  0.000       5     180    -1  -1
S__(2, 185)  0.000  1.000       2     185     1   1
S__(4, 191)  0.990  0.002       4     191    -1  -1
S__(5, 194)  0.048  0.040       5     194     0   0
S__(2, 207)  0.000  1.000       2     207     1   1